@import url(../runo/styles.css);

.appHeader {
	background-color: #F14C1A;
	border-bottom: 1px solid #666;
}

.appHeaderText {
	font-size: 1.2em;
	color: #FFF;
}

.appHeaderUserLinks {
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	border: 1px solid #666;
}